<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <i class="fa fa-graduation-cap"></i>
                <div class="title">
                    {{ title }}
                </div>
                <hr>
            </div>
            <div class="content">
                <form [formGroup]="courseForm" (ngSubmit)="save()">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <label for="description">Descrição</label>
                                <input type="text" class="form-control" formControlName="description" #inputFocus>
                            </div>
                            <aka-message-control-error [control]="courseForm.get('description')" error="required" msg="Descrição é obrigatório."></aka-message-control-error>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 label-block">
                            <label></label>
                            <button [disabled]="courseForm.invalid" type="submit" class="btn btn-info btn-fill left">{{ button }}</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="content">
                <div class="table-full-width">
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let course of courses$ | async">
                                <td>{{course.description}}</td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="Editar" class="btn btn-info btn-simple btn-xs">
                                        <i class="fa fa-edit" (click)="edit(course)"></i>
                                    </button>
                                    <button type="button" rel="tooltip" (click)="remove(course.uid)" title="Remover" class="btn btn-danger btn-simple btn-xs">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="footer">
                    <hr> {{ (courses$ | async)?.length }} registros
                </div>
            </div>
        </div>
    </div>
</div>