<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <div class="title">
                    <i class="fa fa-graduation-cap"></i>Cursos
                </div>
                <hr>
            </div>
            <pre>{{ courseForm.value | json }}</pre>
            <pre>{{ courses$ | async | json }}</pre>
            <pre>{{ course | json }}</pre>
            <!-- <pre>{{ institutions$ | async | json }}</pre> -->
            <div class="content">
                <form [formGroup]="courseForm" (ngSubmit)="save()">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label for="name">Nome</label>
                                <input type="text" class="form-control" formControlName="name" #inputFocus>
                            </div>
                            <aka-message-control-error [control]="courseForm.get('name')" error="required" msg="Descrição é obrigatório."></aka-message-control-error>
                        </div>
                        <!-- <pre>{{ courseForm.get('instituitionUid').value | toSelectId }}</pre> -->
                        <!-- <pre>{{ courseForm.get('institution').value?.uid }}</pre> -->
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label for="state">Instituição</label>
                                <p-dropdown formControlName="institution" datakey="instituicao" placeholder="Selecione"
                                    emptyFilterMessage="Nenhum resultado." [options]="institutions$ | async"
                                    optionLabel="instituicao" [showClear]="true" filter="true"></p-dropdown>
                            </div>
                            <aka-message-control-error [control]="courseForm.get('institution')" error="required" msg="Instituição é obrigatório."></aka-message-control-error>
                        </div>
                        <div class="col-xs-12 col-md-2 label-block mb-3">
                            <label></label>
                            <button [disabled]="courseForm.invalid" type="submit" class="btn btn-action btn-block">
                                {{ button }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="content">
                <p-table [value]="courses$ | async" #dt [globalFilterFields]="['name', 'institution']" [paginator]="true"
                    [rows]="5" [responsive]="true" [rowsPerPageOptions]="[5,10,20,50]" [resizableColumns]="true"
                    [reorderableColumns]="true">
                    <ng-template pTemplate="caption">
                        <div class="input-filter">
                            <i class="fa fa-search"></i>
                            <input type="text" class="form-control" placeholder="Pesquisar.." (input)="dt.filterGlobal($event.target.value, 'contains')">
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th [pSortableColumn]="'name'" pResizableColumn pReorderableColumn style="width: 40%">Nome
                                <p-sortIcon></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'institution'" pResizableColumn pReorderableColumn style="width: 35%">Instituição
                                <p-sortIcon></p-sortIcon>
                            </th>
                            <th>Ações</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-course>
                        <tr [pSelectableRow]="course">
                            <td>
                                <span class="ui-column-title">Curso:</span>
                                {{course.name}}
                            </td>
                            <td>
                                <span class="ui-column-title">Instituição:</span>
                                {{course.institution.instituicao}}
                            </td>
                            <td class="td-actions">
                                <span class="ui-column-title">Ações:</span>
                                <a pTooltip="Editar" tooltipPosition="bottom" (click)="edit(course)" class="btn">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a pTooltip="Excluir" tooltipPosition="bottom" (click)="confirm(course)" class="btn text-danger">
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <!-- {{ (courses$ | async)?.length }} registros -->
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td colspan="5">
                                Nenhum registro encontrado.
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>

<aka-confirmation key="confirmationKey" (onAccept)="remove()"></aka-confirmation>