<div class="row">
  <div class="col-md-12">
    <div class="card border-top">
      <div class="header">
        <div class="title"><i class="fa fa-pencil"></i>{{ title }}</div>
        <hr />
      </div>
      <div class="content">
        <form [formGroup]="activityTypeForm" (ngSubmit)="save()">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for="description">Descrição</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="description"
                  #inputFocus
                />
              </div>
              <aka-message-control-error
                [control]="description"
                error="required"
                msg="Descrição é obrigatório."
              ></aka-message-control-error>
            </div>
            <div
              class="col-xs-12 col-sm-6 col-md-6 col-lg-2 col-xl-2 label-block p-0"
            >
              <label></label>
              <button
                [disabled]="activityTypeForm.invalid"
                type="submit"
                class="btn btn-action btn-block left"
              >
                {{ button }}
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="content">
        <div class="table-full-width">
          <table class="table">
            <tbody>
              <tr *ngFor="let activityType of activityTypes$ | async">
                <td>{{ activityType.description }}</td>
                <td class="td-actions text-right">
                  <a type="button" class="btn" (click)="edit(activityType)">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a
                    type="button"
                    (click)="remove(activityType.uid)"
                    class="btn text-danger"
                  >
                    <i class="fa fa-times"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="footer">
          <hr />
          {{ (activityTypes$ | async)?.length }} registros
        </div>
      </div>
    </div>
  </div>
</div>
