<div class="row">
    <div class="col-md-12">
        <div class="card border-top">
            <div class="header">
                <i class="fa fa-check-circle-o"></i>
                <div class="title">
                    {{ title }}
                </div>
                <hr>
            </div>
            <!-- <pre>{{ activity | json }}</pre>-->
            <!-- <pre>{{ attachments | json }}</pre>  -->
            <!-- <p-galleria [images]="images" panelWidth="500" panelHeight="313" [showCaption]="true"></p-galleria> -->
            <div class="content">
                <form>
                    <div class="uppercase" style="color: #9A9A9A;text-align: center;font-size: 16px;">
                        {{activity?.activityType.description}}
                    </div>
                    <div style="font-size: 50px;text-align: center;">
                        {{activity?.hoursDuration}}
                        <span style="font-size: 25px;text-align: center;">horas</span>
                    </div>
                    <div class="uppercase" style="color: #9A9A9A;text-align: center;">
                        {{activity?.local}}
                    </div>
                    <hr>
                    <span class="icon-report">
                        <i class="fa fa-clock-o"></i>{{ activity?.initialDate | date: 'dd/MM/yyyy'}} - {{ activity?.finalDate
                        | date: 'dd/MM/yyyy' }}
                        <!-- {{ activity?.finalDate.toDate() | date: 'dd/MM/yyyy' }} -->
                    </span>
                    <hr>
                    <span class="icon-report">
                        <i class="fa fa-calendar"></i>Semestre: {{ activity?.semester }} | </span>
                    <span>
                        Ano: {{ activity?.schoolYear }}
                    </span>
                    <hr>
                    <span class="icon-report">
                        <i class="fa fa-home"></i>{{ activity?.city.nome }} / {{ activity?.state.sigla }}
                    </span>
                    <hr>
                    <div>Descrição: {{ activity?.description }}</div>
                    <hr>
                    <div>Observação: {{ activity?.observation }}</div>
                    <hr>
                    <div>Anexos:</div>
                    <!-- <div class="show-attachs">
                        <div *ngFor="let attach of attachments" class="card card-attachment">
                            <a [href]="attach.url" target="_blank">
                                {{ attach.name }}
                            </a>
                            <img class="img-attach" [src]="attach.url" />
                                <label>{{ attach.name }}</label>
                        </div>
                    </div> -->
                    <div class="show-attach">
                        <!-- class="col-xs-10 col-sm-10 col-md-4 col-lg-3 col-xl-3 -->
                        <div *ngFor="let attach of attachments; index as i" class=" card card-attach">
                            <div *ngIf="attach.type !== 'application/pdf'; else pdf">
                                <img class="img-attach" [src]="attach.url" />
                            </div>
                            <ng-template #pdf>
                                <img class="pdf-attach" src="assets/img/pdf.png" />
                            </ng-template>
                            <div>
                                <label class="label-attach">{{ attach.name }}</label>
                                <!-- access file size to make inner join storage -->
                                <!-- <label>({{ attachImg[i].file.size | fileSize }})</label> -->
                                <div>
                                    <a [download]="attach.name" [href]="attach.url" target="_blank" type="button" class="btn-attach" rel="tooltip" title="Download"><i
                                            class="fa fa-download"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <span>
                        Imagens
                    </span> -->
                    <!-- <div class="text-center"> -->
                    <!-- <p-lightbox [images]="attachments"></p-lightbox> -->
                    <!-- <iframe preload="none" autoplay="false" width="560" height="315" src="https://firebasestorage.googleapis.com/v0/b/akademic-dev.appspot.com/o/test%2FThaeme%20%20Thiago%20%20Onde%20J%20Se%20Viu%20%20Clipe%20Oficial%20-%20HD%20720p%20%5BFile2HD.com%5D.mp4?alt=media&token=a7b60012-1505-4eef-922d-8a87333707b0"
                            frameborder="0" allowfullscreen></iframe> -->
                    <!-- </div> -->

                    <!-- <span>
                        Vídeos
                    </span> -->
                    <!-- <p-lightbox type="content"> -->
                    <!-- <a class="group" href="#">
                        Assistir Video
                    </a> -->
                    <!-- <video width="320" height="240" controls>
                        <source src="https://firebasestorage.googleapis.com/v0/b/akademic-dev.appspot.com/o/test%2F2018-08-29-Z%20Felipe%20%20Banheira%20de%20Espuma%20(Clipe%20Oficial)%20-%20HD%20720p%20%5BFile2HD.com%5D.mp4?alt=media&token=7889b268-7b9f-41b5-8383-c2711f8386c5"
                            type="video/mp4">
                    </video> -->
                    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/9bZkp7q19f0" frameborder="0" allowfullscreen></iframe> -->

                    <!-- </p-lightbox> -->
                    <!-- <video id="my-video" class="video-js" controls preload="auto" width="640" height="264"
                    poster="MY_VIDEO_POSTER.jpg" data-setup="{}">

                            <source src="https://firebasestorage.googleapis.com/v0/b/akademic-dev.appspot.com/o/test%2F2018-08-29-Z%20Felipe%20%20Banheira%20de%20Espuma%20(Clipe%20Oficial)%20-%20HD%20720p%20%5BFile2HD.com%5D.mp4?alt=media&token=7889b268-7b9f-41b5-8383-c2711f8386c5" type='video/mp4'>
                    </video> -->


                    <!-- <video width="400" controls>
                            <source src="https://firebasestorage.googleapis.com/v0/b/akademic-dev.appspot.com/o/test%2F2018-08-29-Z%20Felipe%20%20Banheira%20de%20Espuma%20(Clipe%20Oficial)%20-%20HD%20720p%20%5BFile2HD.com%5D.mp4?alt=media&token=7889b268-7b9f-41b5-8383-c2711f8386c5"
                                type="video/mp4"> Your browser does not support HTML5 video.
                        </video> -->
                    <!-- <iframe width="420" height="315" src="https://www.youtube.com/watch?v=-Ux4IYPME80&t" 
                        frameborder="0" allowfullscreen></iframe> -->
                    <!-- <iframe width="420" height="315" src="https://www.youtube.com/watch?v=-Ux4IYPME80&t">
                        </iframe> -->
                    <!-- <a href="test.xls" target="_blank"> open xls </a> -->
                    <hr>
                    <div class="author">
                        <div>Solicitante</div>
                        <div style="padding:20px 0px">
                            <img src="assets/img/default-avatar.png" alt="Foto do Usuário" width="80" height="80" style="border-radius: 50%; margin-right: 10px" />
                            <h5 style="display: inline-grid;">{{activity?.user.displayName}}
                                <br />
                                <small style="text-transform: lowercase">{{activity?.user.email}}</small>
                            </h5>
                        </div>
                    </div>
                    <div class="clearfix">
                        <button type="button" class="btn-action btn-right radius" (click)="toConfirm('approve')">Aprovar</button>
                        <button type="button" class="btn-action btn-right border-none" (click)="toConfirm('disapprove')">Reprovar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<p-toast position="center" key="remove" (onClose)="toReject()" [modal]="true" [baseZIndex]="9999">
    <ng-template let-message pTemplate="message">
        <div class="text-center">
            <i class="pi pi-exclamation-triangle"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="toAccept()" label="Sim" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="toReject()" label="Não" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>