<div class="row">
    <div class="col-md-12">
        <div class="card border-top">
            <div class="header">
                <div class="title">
                    <i class="fa fa-check-circle-o"></i>{{ title }}
                </div>
                <hr>
            </div>
            <!-- <pre>{{ activity | json }}</pre> -->
            <div class="content">
                <form>
                    <div class="uppercase" style="color: #9A9A9A;text-align: center;font-size: 16px;">
                        {{activity?.activityType.description}}
                    </div>
                    <div style="font-size: 50px;text-align: center;">
                        {{activity?.hoursDuration}}
                        <span style="font-size: 25px;text-align: center;">horas</span>
                    </div>
                    <div class="uppercase" style="color: #9A9A9A;text-align: center;">
                        {{activity?.local}}
                    </div>
                    <hr>
                    <span class="icon-report">
                        <i class="fa fa-clock-o"></i>{{ activity?.initialDate | date: 'dd/MM/yyyy'}} - {{
                        activity?.finalDate
                        | date: 'dd/MM/yyyy' }}
                    </span>
                    <hr>
                    <span class="icon-report">
                        <i class="fa fa-calendar"></i>Semestre: {{ activity?.semester }} | </span>
                    <span>
                        Ano: {{ activity?.schoolYear }}
                    </span>
                    <hr>
                    <span class="icon-report">
                        <i class="fa fa-home"></i>{{ activity?.city.nome }} / {{ activity?.state.sigla }}
                    </span>
                    <hr>
                    <div>Descrição: {{ activity?.description }}</div>
                    <hr>
                    <div>Observação: {{ activity?.observation }}</div>
                    <hr>
                    <div>Anexos:</div>
                    <div class="show-attach">
                        <div *ngFor="let attach of attachments; index as i" class=" card card-attach">
                            <div *ngIf="attach.type !== 'application/pdf'; else pdf">
                                <img class="img-attach" [src]="attach.url" />
                            </div>
                            <ng-template #pdf>
                                <img class="pdf-attach" src="assets/img/pdf.png" />
                            </ng-template>
                            <div>
                                <label class="label-attach">{{ attach.name }}</label>
                                <!-- access file size to make inner join storage -->
                                <!-- <label>({{ attachImg[i].file.size | fileSize }})</label> -->
                                <div>
                                    <a (click)="showDialog(attach)" [download]="attach.name" target="_blank" type="button"
                                        class="btn-attach" rel="tooltip" title="Download"><i class="fa fa-download"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="author">
                        <div>Solicitante</div>
                        <div style="padding:20px 0px">
                            <img src="assets/img/default-avatar.png" alt="Foto do Usuário" width="80" height="80" style="border-radius: 50%; margin-right: 10px" />
                            <h5 style="display: inline-grid;">
                                <!-- {{activity?.user.displayName}} -->
                                <br />
                                <small style="text-transform: lowercase">
                                    <!-- {{activity?.user.email}} -->
                                </small>
                            </h5>
                        </div>
                    </div>
                    <div class="clearfix">
                        <button type="button" class="btn btn-action pull-right" (click)="toConfirm('approve')">Aprovar</button>
                        <button type="button" class="btn btn-secondary pull-right mr-2" (click)="toConfirm('disapprove')">Reprovar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<p-toast position="center" key="remove" (onClose)="toReject()" [modal]="true" [baseZIndex]="9999">
    <ng-template let-message pTemplate="message">
        <div class="text-center">
            <i class="pi pi-exclamation-triangle"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="toAccept()" label="Sim" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="toReject()" label="Não" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>

<p-dialog [header]="attachView?.name" [(visible)]="display" [modal]="true" [responsive]="true" [maximizable]="true"
    [baseZIndex]="10000" styleClass="center">
    <div *ngIf="attachView?.type !== 'application/pdf'; else pdf" style="width: 100%; height: 100%;">
        <img class="img-dialog" [src]="attachView?.url" />
        <!-- <button class="btn-download-attach" type="button" label="Download"><i class="fa fa-download mt-4"></i></button> -->
    </div>
    <ng-template #pdf>
        <iframe class="pdf-dialog" [src]="sanitizer.bypassSecurityTrustResourceUrl(attachView?.url)"></iframe>
    </ng-template>
</p-dialog>