input[type="date"] {
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
}

input[type="date"]:before {
    position: absolute;
    font-family: 'FontAwesome';
    content: '\f073';
    right: 15px;
    color: #555;
}

.progress-custom {
    height: 10px;
    margin-bottom: 0px;
    width: 100%;
}

progress {
    border: none;
    background: crimson;
    color: lightblue;
    border-radius: 16px;
    transition: width 0.1s ease;
}

progress::-webkit-progress-value {
    background: var(--akademic-color);
}

progress::-webkit-progress-bar {
    background: lightblue;
}

progress::-webkit-progress-bar {
    border: 0;
    height: 10px;
    border-radius: 16px;
}

progress::-webkit-progress-value {
    border: 0;
    height: 10px;
    border-radius: 16px;
}

progress::-moz-progress-bar {
    border: 0;
    height: 10px;
    border-radius: 16px;
}