.card {
    width: 400px;
    padding-bottom: 15px;
}

.card .card-content {
    padding: 35px 25px 10px 25px;
}

.card-header {
    margin: -40px 15px 0;
    padding: 15px;
    background: linear-gradient(60deg, #b224ef, #7579ff);
}