<div *ngIf="!(_auth.user | async)" class="center-div" style="background-image: url('../assets/img/login.png');">
  <div class="card">
    <div class="card-header text-center" data-background-color="purple">
      <span class="card-title">
        <img src="../assets/img/akademic-name-white.png" alt="Logo image" width="250px">
      </span>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card-content">

          <router-outlet></router-outlet>

        </div>
      </div>
    </div>
  </div>
</div>