<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <i class="fa fa-users"></i>
        <div class="title">
          {{ title }}
        </div>
        <hr>
      </div>
      <!-- <pre>
          {{ $courses | async | json }}
      </pre>
      <pre>
          {{ $controllers | async | json }}
      </pre> -->
      <!-- <pre>
          {{ controllerForm.value | json }}
      </pre> -->
      <div class="content">
        <form [formGroup]="controllerForm" (ngSubmit)="save()">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" formControlName="name" #inputFocus>
              </div>
              <aka-message-control-error [control]="controllerForm.get('name')" error="required" msg="Nome é obrigatório."></aka-message-control-error>
              <aka-message-control-error [control]="controllerForm.get('name')" error="pattern" msg="Nome é inválido."></aka-message-control-error>
              <aka-message-control-error [control]="controllerForm.get('name')" error="maxlength" msg="Nome com no máximo 20 caracteres."></aka-message-control-error>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
              <div class="form-group">
                <label for="course">Curso</label>
                <!-- {{ courses | json }} -->
                <p-dropdown formControlName="course" dataKey="uid" placeholder="Selecione" emptyFilterMessage="Nenhum resultado." [options]="courses"
                  optionLabel="description" [showClear]="true" filter="true"></p-dropdown>
                <!-- <select class="form-control" placeholder="asdasdasd" formControlName="course" [compareWith]="compareCourse">
                  <option value="null" disabled="true" [selected]="true">Selecione..</option>
                  <option *ngFor="let course of $courses | async" [ngValue]="course">{{course.description}}</option>
                </select> -->
              </div>
              <aka-message-control-error [control]="controllerForm.get('course')" error="required" msg="Curso é obrigatório."></aka-message-control-error>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 label-block">
              <label></label>
              <button [disabled]="controllerForm.invalid" type="submit" class="btn btn-info btn-fill left">{{ button }}</button>
            </div>
          </div>
        </form>
      </div>
      <div class="content">
        <div class="table-full-width">
          <table class="table">
            <tbody>
              <tr *ngFor="let controller of $controllers | async">
                <td>{{ controller.name }} | {{ controller.course.description }}</td>
                <td class="td-actions text-right">
                  <button type="button" rel="tooltip" title="Editar" class="btn btn-info btn-simple btn-xs">
                    <i class="fa fa-edit" (click)="edit(controller)"></i>
                  </button>
                  <!-- <button type="button" rel="tooltip" (click)="remove(controller.uid)" title="Remover" class="btn btn-danger btn-simple btn-xs">
                    <i class="fa fa-times"></i>
                  </button> -->
                  <button type="button" rel="tooltip" (click)="confirmRemove(controller)" title="Remover" class="btn btn-danger btn-simple btn-xs">
                      <i class="fa fa-times"></i>
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="footer">
          <hr> {{ ($controllers | async)?.length }} registros
        </div>
      </div>
    </div>
  </div>
</div>

<p-toast position="top-right"></p-toast>

<p-toast position="center" key="remove" (onClose)="onReject()" [modal]="true" [baseZIndex]="9999">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="remove()" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>