<hr>
<div class="dropzone" akaDropZone (hovered)="toggleHover($event)" (dropped)="startUpload($event)" [class.hovering]="isHovering">
    <label class="mt-4">Arraste</label>
    <div class="file">
        <label class="file-label">
            <input class="file-input" #inputUpload multiple type="file" (change)="startUpload($event.target.files)"
                [accept]="fileAccept" />
            <span class="file-cta">
                <span class="file-icon">
                    <i class="fa fa-upload"></i>
                </span>
                <span class="file-label">
                    ou escolha o(s) arquivo(s)...
                </span>
            </span>
        </label>
    </div>
    <div class="show-attach">
        <div *ngFor="let attach of attachShow; index as i" class=" card card-attach">
            <div *ngIf="uploads[i].file.type !== 'application/pdf'; else pdf">
                <img class="img-attach" [src]="attach" />
            </div>
            <ng-template #pdf>
                <img class="pdf-attach" src="assets/img/pdf.png" />
            </ng-template>
            <div>
                <label class="label-attach">{{ uploads[i].file.name }}<br>{{ uploads[i].file.size | fileSize }}</label>
                <div>
                    <button type="button" class="btn-attach" (click)="confirm(uploads[i].file, i)"><i class="fa fa-trash"
                            pTooltip="Descartar" tooltipPosition="bottom"></i></button>
                    <a [download]="uploads[i].file.name" [href]="attach" target="_blank" type="button" class="btn-attach"
                        pTooltip="Download" tooltipPosition="bottom"><i class="fa fa-download"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<p-toast position="center" key="confirmation" (onClose)="_messageService.close()" [modal]="true">
    <ng-template let-message pTemplate="message">
        <div class="ui-g ui-fluid">
            <div class="center mt-3">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                <h3 class="mt-3">{{ message.summary }}</h3>
                <p>{{ message.detail }}</p>
            </div>
            <div class="ui-g-6">
                <button type="button" (click)="removeAttach()" class="btn btn-action btn-block">
                    Sim
                </button>
            </div>
            <div class="ui-g-6">
                <button type="button" (click)="_messageService.close()" class="btn btn-secondary btn-block">
                    Não
                </button>
            </div>
        </div>
    </ng-template>
</p-toast>

<!-- <div *ngIf="percentage | async as pct">
    <progress class="progress progress-custom is-info" [value]="pct" max="100"></progress>
    {{ pct | number }}%
</div> -->

<!--div *ngIf="(snapshot | async) as snap">
  {{ snap.bytesTransferred | fileSize }} de {{ snap.totalBytes | fileSize }}

  <button (click)="task.pause()" class="btn btn-warning" [disabled]="!isActive(snap)">Pausar</button>
  <button (click)="task.cancel()" class="btn btn-danger" [disabled]="!isActive(snap)">Cancelar</button>
  <button (click)="task.resume()" class="btn btn-success" [disabled]="!(snap?.state === 'paused')">Recomeçar</button>
</div-->