<hr>
<!-- <pre>
    attachments: {{ attachments | json }}
</pre>
<pre>
    attachShow: {{ attachShow | json }}
</pre>
<pre>
    uploads: {{ uploads | json }}
</pre> -->
<div class="dropzone" akaDropZone (hovered)="toggleHover($event)" (dropped)="startUpload($event)" [class.hovering]="isHovering">
    <label class="mt-4">Arraste</label>
    <div class="file">
        <label class="file-label">
            <input class="file-input" #inputUpload multiple type="file" (change)="startUpload($event.target.files)"
                [accept]="fileAccept" />
            <span class="file-cta">
                <span class="file-icon">
                    <i class="fa fa-upload"></i>
                </span>
                <span class="file-label">
                    ou escolha o(s) arquivo(s)...
                </span>
            </span>
        </label>
    </div>

    <div class="show-attach">
        <img *ngIf="loading" class="loader-attachs" src="assets/img/loader-attachs.gif">
        <div *ngFor="let attach of attachShow; index as i" class=" card card-attach">
            <div [ngSwitch]="attach.type" (click)="showAttach(attach)" pTooltip="Clique na imagem para abrir o anexo"
                tooltipPosition="bottom" data-toggle="modal" data-target="#attachModal">
                <img *ngSwitchCase="'application/pdf'" class="pdf-attach" src="assets/img/pdf.png" />
                <img *ngSwitchCase="'video/mp4'" class="img-attach" src="assets/img/video.png" />
                <img *ngSwitchDefault class="img-attach" [src]="attach.url" />
            </div>
            <div>
                <!-- <label ng class="label-attach">{{ uploads[i].file.name }}<br>{{ uploads[i].file.size | fileSize }}</label> -->
                <label class="label-attach">{{ attach.name }}</label>
                <div>
                    <button type="button" class="btn-attach" (click)="confirm(attach, i)"><i class="fa fa-trash"
                            pTooltip="Descartar" tooltipPosition="bottom"></i></button>
                    <!-- <a [download]="attach.name" [href]="attach.url" target="_blank" type="button" class="btn-attach"
                        pTooltip="Download" tooltipPosition="bottom"><i class="fa fa-download"></i></a> -->
                </div>
            </div>
        </div>
    </div>
</div>

<aka-confirmation key="confirmation" (onAccept)="removeAttach()"></aka-confirmation>

<!-- <div *ngIf="percentage | async as pct">
    <progress class="progress progress-custom is-info" [value]="pct" max="100"></progress>
    {{ pct | number }}%
</div> -->

<!--div *ngIf="(snapshot | async) as snap">
  {{ snap.bytesTransferred | fileSize }} de {{ snap.totalBytes | fileSize }}

  <button (click)="task.pause()" class="btn btn-warning" [disabled]="!isActive(snap)">Pausar</button>
  <button (click)="task.cancel()" class="btn btn-danger" [disabled]="!isActive(snap)">Cancelar</button>
  <button (click)="task.resume()" class="btn btn-success" [disabled]="!(snap?.state === 'paused')">Recomeçar</button>
</div-->

<div class="modal fade" id="attachModal" role="dialog" [ngSwitch]="attachView?.type">
    <h5 class="title-dialog">{{ attachView?.name }}</h5>
    <a class="btn-close-modal" data-dismiss="modal" pTooltip="Fechar Anexo" tooltipPosition="bottom">
        <i class="icon-close-modal fa fa-close" style="    -webkit-text-stroke: 3px #808080;"></i></a>
    <iframe *ngSwitchCase="'application/pdf'" class="pdf-dialog" [src]="attachView?.url | safe: 'resourceUrl'"></iframe>
    <iframe *ngSwitchCase="'video/mp4'" class="pdf-dialog" [src]="attachView?.url | safe: 'resourceUrl'"></iframe>
    <img *ngSwitchDefault class="img-attach" class="img-dialog" [src]="attachView?.url" />
</div>