<div *ngIf="user$ | async as user">
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-user">
                <div class="image background-sign">
                </div>
                <div class="content">
                    <div class="author">
                        <a href="#">
                            <img class="avatar border-gray" [src]="user.photoURL ? user.photoURL : '../../../assets/img/default-avatar.png'"
                                alt="Foto do perfil" />

                            <h4 class="title">{{user.displayName}}
                                <br />
                                <small>{{user.email}}</small>
                            </h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card">
                <div class="header">
                    <h4 class="title"><i class="fa fa fa-user-circle-o"></i>Editar Perfil</h4>
                </div>
                <div class="content">
                    <form [formGroup]="form" (submit)="onSubmit(form)">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Matrícula</label>
                                    <input type="text" class="form-control" placeholder="Matrícula" formControlName="registration">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>E-mail</label>
                                    <input type="email" class="form-control" formControlName="email">
                                    <aka-message-control-error [control]="form.get('email')" error="required" msg="E-mail é obrigatório."
                                        readonly="readonly"></aka-message-control-error>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Nome completo</label>
                                    <input type="text" class="form-control" placeholder="Nome completo" formControlName="displayName">
                                </div>
                                <aka-message-control-error [control]="form.get('displayName')" error="required" msg="Nome completo é obrigatório."></aka-message-control-error>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Data de nascimento</label>
                                    <div class="input-group">
                                        <input type="date" class="form-control" formControlName="birthday">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div formGroupName="address">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>CEP</label>
                                        <input type="text" id="cepField" class="form-control" formControlName="zipCode"
                                            (keyup)="cepMask($event.target.value)">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Endereço</label>
                                        <input type="text" class="form-control" placeholder="Endereço" formControlName="street">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Número</label>
                                        <input type="number" class="form-control" placeholder="Número" formControlName="number">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Estado</label>
                                        <input type="text" class="form-control" placeholder="Estado" formControlName="state">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Cidade</label>
                                        <input type="text" class="form-control" placeholder="Cidade" formControlName="city">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>País</label>
                                        <input type="text" class="form-control" placeholder="País" formControlName="country">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Sobre mim</label>
                                    <textarea rows="5" class="form-control" placeholder="Aqui você pode colocar sua descrição"
                                        formControlName="about"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <button type="submit" class="btn btn-action pull-right">Atualizar Perfil</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>