<div class="row">
  <div class="col-md-12">
    <div class="card border-top">
      <div class="header">
        <div class="title"><i class="fa fa-graduation-cap"></i>Cursos</div>
        <hr />
      </div>
      <pre>{{ courseForm.value | json }}</pre>
      <pre>{{ course | json }}</pre>
      <div class="content">
        <form [formGroup]="courseForm" (ngSubmit)="save()">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="form-group">
                <label for="name">Nome</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="name"
                  #inputFocus
                />
              </div>
              <aka-message-control-error
                [control]="name"
                error="required"
                msg="Descrição é obrigatório."
              ></aka-message-control-error>
            </div>
            <div class="col-xs-12 col-md-2 label-block mb-3">
              <label></label>
              <button
                [disabled]="courseForm.invalid"
                type="submit"
                class="btn btn-action btn-block"
              >
                {{ buttonLabel }}
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="content">
        <p-table
          #dt
          [value]="courses$ | async"
          [paginator]="true"
          [rows]="5"
          [rowsPerPageOptions]="[5, 10, 20, 50]"
          [columns]="cols"
        >
          <ng-template pTemplate="caption">
            <div class="input-filter">
              <i class="fa fa-search"></i>
              <input
                type="text"
                class="form-control"
                placeholder="Filtrar"
                (input)="dt.filterGlobal($event.target, 'contains')"
              />
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{ col.header }}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
              <td *ngFor="let col of columns" [ngSwitch]="col.field">
                <div *ngSwitchCase="'name'">
                  {{ rowData[col.field] }}
                </div>
                <div *ngSwitchDefault>
                  <a
                    pTooltip="Editar"
                    tooltipPosition="bottom"
                    (click)="edit(rowData)"
                    class="btn"
                  >
                    <i class="fa fa-edit"></i>
                  </a>
                  <a
                    pTooltip="Excluir"
                    tooltipPosition="bottom"
                    (click)="confirm(rowData)"
                    class="btn text-danger"
                  >
                    <i class="fa fa-times"></i>
                  </a>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            {{ (courses$ | async)?.length }} registros
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td colspan="2">Nenhum registro encontrado.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<aka-confirmation
  key="confirmationKey"
  (onAccept)="remove()"
></aka-confirmation>
