/* VALIDATIONS */
/* BORDER VALID */
/* Inputtext */
.ui-inputtext.ng-touched:valid,
/* Dropdown */
p-dropdown.ng-dirty.ng-touched.ng-valid .ui-dropdown,
/* Spinner */
p-spinner.ng-touched.ng-valid .ui-spinner-input {
    border: var(--border-valid);
}

/* BORDER INVALID */
/* Inputtext */
.ui-inputtext.ng-touched.ng-invalid,
z .ui-inputtext.ng-dirty.ng-invalid,
/* Dropdown */
p-dropdown.ng-touched.ng-invalid .ui-dropdown,
p-dropdown.ng-dirty.ng-invalid .ui-dropdown,
/* Spinner */
p-spinner.ng-touched.ng-invalid .ui-spinner-input,
p-spinner.ng-dirty.ng-invalid .ui-spinner-input {
    border: var(--border-invalid);
}

/* FOCUSED - BORDER VALID */
/* Inputtext */
.ui-inputtext:focus,
/* Dropdown */
.ui-dropdown:not(.ui-state-disabled).ui-state-focus,
/* Spinner */
p-spinner .ui-spinner-input:enabled:focus:not(.ui-state-error) {
    outline: 0;
    border: var(--border-valid);
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 172, 166, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(0, 172, 166, 0.637);
    box-shadow: 0 0 0 0.2rem rgba(0, 172, 166, 0.25);
}

/* FOCUSED - BORDER INVALID */
/* Inputtext */
.ui-inputtext.ng-touched.ng-invalid:focus,
.ui-inputtext.ng-dirty.ng-invalid:hover,
.ui-inputtext.ng-dirty.ng-invalid:active,
/* Dropdown */
p-dropdown.ng-touched.ng-invalid .ui-dropdown:not(.ui-state-disabled).ui-state-focus,
p-dropdown.ng-touched.ng-dirty .ui-dropdown:not(.ui-state-disabled).ui-state-hover,
p-dropdown.ng-touched.ng-dirty .ui-dropdown:not(.ui-state-disabled).ui-state-active,
/* Spinner */
p-spinner.ng-touched.ng-invalid .ui-spinner-input:enabled:focus:not(.ui-state-error),
p-spinner.ng-dirty.ng-invalid .ui-spinner-input:enabled:focus:not(.ui-state-error) {
    outline: 0;
    border: var(--border-invalid);
    -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 70, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(220, 53, 70, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 70, 0.25);
}

/* ICON VALID */
/* Dropdown - Icon Arrow */
p-dropdown.ng-touched.ng-valid .ui-dropdown:not(.ui-state-disabled) .ui-dropdown-trigger .pi-caret-down,
p-dropdown.ng-dirty.ng-valid .ui-dropdown:not(.ui-state-disabled) .ui-dropdown-trigger .pi-caret-down,
/* Dropdown - Icon Clear */
p-dropdown.ng-touched.ng-valid .ui-dropdown .ui-dropdown-clear-icon,
p-dropdown.ng-dirty.ng-valid .ui-dropdown .ui-dropdown-clear-icon,
/* Spinner - Icon Arrow */
p-spinner.ng-touched.ng-valid .ui-spinner-button.ui-button,
p-spinner.ng-dirty.ng-valid .ui-spinner-button.ui-button {
    color: var(--color-valid);
}

/* ICON INVALID */
/* Dropdown - Icon Arrow */
p-dropdown.ng-touched.ng-invalid .ui-dropdown:not(.ui-state-disabled) .ui-dropdown-trigger .pi-caret-down,
p-dropdown.ng-dirty.ng-invalid .ui-dropdown:not(.ui-state-disabled) .ui-dropdown-trigger .pi-caret-down,
/* Spinner - Icon Arrow */
p-spinner.ng-touched.ng-invalid .ui-spinner-button.ui-button,
p-spinner.ng-dirty.ng-invalid .ui-spinner-button.ui-button {
    color: var(--color-invalid);
}

/* OTHERS */

.ui-calendar {
    width: 100%;
}

.ui-datepicker-month,
.ui-datepicker-year {
    border-radius: 3px;
}

body form .ui-inputtext, body form .ui-dropdown {
    width: 100% !important;
    border: 1px solid #e3e3e3;
    color: var(--color-label);
}

body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item {
    color: var(--color-label);
}

.ui-dropdown .ui-dropdown-label {
    text-transform: capitalize;
    height: 29px;
    text-indent: 5px;
}

.ui-table .ui-table-tbody>tr {
    border: solid 1px #c8c8c8;
}

.ui-paginator .ui-dropdown .ui-dropdown-trigger,
body .ui-paginator .ui-dropdown .ui-dropdown-label {
    margin-top: 0px;
}

p-lightbox img {
    width: 200px;
    height: 300px;
    margin-right: 20px;
}

.ui-lightbox .ui-lightbox-caption {
    width: 200px;
}

p-lightbox span {
    width: 150px;
    word-wrap: break-word;
}

iframe {
    margin-top: 20px;
}

.ui-fileupload .ui-fileupload-buttonbar {
    background-color: white;
    border: none;
}

body .ui-button {
    margin: 0;
    color: #ffffff;
    background-color: #23CCEF;
    border: 1px solid #23CCEF;
    font-size: 14px;
    transition: background-color 0.2s;
}

body .ui-fileupload .ui-fileupload-buttonbar {
    background-color: white;
    padding: 0.571em 1em;
    border: none;
    color: #333333;
    border-bottom: 0 none;
    text-align: center;
}

body .ui-fileupload .ui-fileupload-content {
    background-color: #ffffff;
    padding: 0.571em 1em;
    border: 1px solid #c8c8c8;
    color: #333333;
    margin-bottom: 7px;
}

.ui-fileupload-row>div {
    display: inline-block;
}

body .ui-toast .ui-toast-message.ui-toast-message-warn {
    background-color: white;
    border-radius: 4px;
}

p-toast i {
    font-size: 3em !important;
}

p-toast p {
    word-wrap: break-word;
}

body .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon:before {
    /* content: ""; */
    content: "\e906";
}

body .ui-dropdown-panel .ui-dropdown-items {
    padding: 5px 5px 5px 10px;
    /* word-break: break-word; */
}

body .ui-corner-all {
    border-radius: 4px;
}

body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight {
    color: #ffffff;
    background: linear-gradient(60deg, #b224ef, #7579ff);
    margin-right: 4px;
}

body .ui-datepicker table td > a.ui-state-active {
    color: #ffffff;
    background: linear-gradient(60deg, #b224ef, #7579ff);
}

body .ui-dropdown-panel .ui-dropdown-filter-container .ui-dropdown-filter-icon {
    top: 50%;
    margin-top: -.5em;
    right: 1.357em;
    color: #b224ef;
}

body .ui-table {
    font-size: calc(13px + var(--font-size-control));
    margin: 15px;
    margin-top: 5px;
}
body .ui-table .ui-sortable-column.ui-state-highlight,
body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background: linear-gradient(60deg, #b224ef, #7579ff);
}

body .ui-table .ui-paginator {
    padding: 10px 15px;
}

body .ui-table .ui-table-thead>tr>th, body .ui-table .ui-table-tfoot>tr>td {
    border: 1px solid #eaeaea;
}

body .ui-table .ui-sortable-column:not(.ui-state-highlight):hover {
    background-color: #f7f7f9;
    color: #1d1e1f;
}

body .ui-table .ui-table-tbody>tr {
    background: #ffffff;
}

body .ui-table .ui-table-tbody>tr>td {
    background: inherit;
    border: 1px solid #eaeaea !important;
}

body .ui-table .ui-table-tbody>tr.ui-state-highlight {
    background-color: #b224ef;
    color: #ffffff;
}

body .ui-table .ui-table-tbody>tr:nth-child(even).ui-state-highlight {
    background-color: #b224ef;
    color: #ffffff;
}

body .ui-table .ui-table-tbody>tr:nth-child(even).ui-contextmenu-selected {
    background-color: #b224ef;
    color: #ffffff;
}

body .ui-table.ui-table-hoverable-rows .ui-table-tbody>tr:not(.ui-state-highlight):hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #b224ef;
}

body .ui-table .ui-table-caption, body .ui-table .ui-table-summary {
    border: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

body .ui-paginator {
    border: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}