<div *ngIf="!(_auth.user | async)" class="center-div" style="background-image: url('../assets/img/login.png');">
  <form [formGroup]="userForm" (submit)="login()">

    <div class="card">
      <div class="card-header text-center" data-background-color="purple">
        <span class="card-title">
          <img src="../assets/img/akademic-name-white.png" alt="Logo image" width="250px">
        </span>
      </div>

      <div class="col-lg-12">
        <div class="card-content">
          
          <div class="form-group text-center">
            <button type="button" class="btn btn-social btn-round btn-google mr-3" (click)="signInWithGoogle()">
              <i class="fa fa-google-plus"> </i>
            </button>
            <button type="button" class="btn btn-social btn-round btn-facebook mr-3" (click)="signInWithFacebook()">
              <i class="fa fa-facebook"></i>
            </button>
            <button type="button" class="btn btn-social btn-round btn-twitter" (click)="signInWithTwitter()">
              <i class="fa fa-twitter"></i>
            </button>
          </div>

          <div class="form-group">
            <div class="hr-section">ou logue com</div>
          </div>

          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-user-circle-o"></i>
            </span>
            <div class="form-group">
              <label class="control-label">E-mail</label>
              <input type="email" class="form-control" formControlName="email" required>
            </div>
          </div>

          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-unlock-alt"></i>
            </span>
            <div class="form-group">
              <label class="control-label">Senha</label>
              <input type="password" class="form-control" formControlName="password" required>
            </div>
          </div>
        </div>
      </div>

      <div class="login-footer text-center">
        <button class="login-form-btn" type="submit">
          Login
        </button>
      </div>

      <div class="text-center">
        <label class="txt pointer" [routerLink]="['/signup']">
          Cadastre-se agora
        </label>

        <label class="txt pointer mx-1">
          |
        </label>
        <label class="txt pointer" (click)="resetPassword()">
          Esqueceu a senha?
        </label>
      </div>

      <div class="text-center" *ngIf="loading">
        <img src="../../../assets/img/eclipse-loading.svg" alt="Login loading">
      </div>

      <div class="text-center danger" *ngIf="formErrors.email">
        {{ formErrors.email }}
      </div>

      <div class="text-center danger" *ngIf="formErrors.password">
        {{ formErrors.password }}
      </div>
    </div>
  </form>
</div>