.center-div {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
}

.card {
  display: inline-block;
  width: 400px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  padding-bottom: 15px;
}

.card .card-content {
  padding: 35px 25px 15px 25px;
}

.card .card-header {
  padding: 15px 20px 0;
  z-index: 3;
}

.login-footer {
  padding: 10px;
}

.card [data-background-color] {
  margin: -40px 15px 0;
  padding: 15px;
}

.card [data-background-color="purple"] {
  background: linear-gradient(60deg, #b224ef, #7579ff);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(178, 36, 239, 0.4);
}

.login-form-btn {
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  background: #fff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: #6772e5;
  transition: all .15s ease;
  width: 70%;
  border: 1px solid #ddd;
}

.login-form-btn:hover {
  color: #7795f8;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

.form-control {
  float: none;
  font-size: 16px;
  border-width: 0px 0px 1px 0px;
  width: 90%;
  padding-left: 0;
}

.input-group .input-group-addon {
  border: 0;
}

.danger {
  color: #ff0026;
  display: block;
}

.txt {
  position: relative;
}

.txt:hover {
  color: #9c27b0;
}

.txt:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #9c27b0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.txt:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.hr-section {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: #9A9A9A;
  margin: 30px 0px;
}

.hr-section::before,
.hr-section::after {
  content: "";
  flex-grow: 1;
  background: #9A9A9A;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}