<div *ngIf="!(_auth.user | async); else alreadyLoggedIn">
  <div class="center-div" style="background-image: url('../assets/img/login.png');">
    <form [formGroup]="userForm" (submit)="login()">

      <div class="card">
        <div class="card-header text-center" data-background-color="purple">
          <span class="card-title">
            <img src="../assets/img/akademic-name-white.png" alt="Logo image" width="250px">
          </span>
        </div>

        <div class="card-content">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-user-circle-o"></i>
            </span>
            <div class="form-group">
              <label class="control-label">E-mail</label>
              <input type="email" class="form-control" formControlName="email" required>
            </div>
          </div>

          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-unlock-alt"></i>
            </span>
            <div class="form-group">
              <label class="control-label">Senha</label>
              <input type="password" class="form-control" formControlName="password" required>
            </div>
          </div>
        </div>

        <div class="login-footer text-center">
          <button class="login-form-btn" type="submit">
            Login
          </button>
        </div>

        <div class="text-center">
          <label class="txt pointer" (click)="resetPassword()">
            Esqueceu a senha?
            <!--{{ userForm.get('email').value }}-->
          </label>
        </div>

        <div class="text-center" *ngIf="loading">
          <img src="../../../assets/img/eclipse-loading.svg" alt="Login loading">
        </div>

        <div class="text-center danger" *ngIf="formErrors.email">
          {{ formErrors.email }}
        </div>

        <div class="text-center danger" *ngIf="formErrors.password">
          {{ formErrors.password }}
        </div>
      </div>
    </form>
  </div>
</div>

<ng-template #alreadyLoggedIn>
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h4 class="title">
                <i class="pe-7s-check"></i> Você já está logado!</h4>
            </div>
            <div class="content">
              <p>
                <a [routerLink]="['/dashboard']">
                  <i class="pe-7s-back-2"></i> Retornar ao dashboard
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>