<div class="limiter" *ngIf="!(_auth.user | async); else alreadyLoggedIn">
  <div class="container-login" style="background-image: url('../assets/img/login.png');">
    <div class="wrap-login">
      <form class="login-form validate-form" [formGroup]="userForm" (submit)="login()">
        <span class="login-form-title">
          <img src="../assets/img/akademic-name-white.png" alt="Logo image" width="250px">
        </span>

        <div class="wrap-input validate-input" data-validate="Entre com o e-mail">
          <input class="input" type="email" id="email" placeholder="Email" formControlName="email" required>
          <span class="focus-input" data-placeholder="&#xf2c0;"></span>
        </div>



        <div class="wrap-input validate-input" data-validate="Entre com a senha">
          <input class="input" type="password" id="pass" placeholder="Senha" formControlName="password">
          <span class="focus-input" data-placeholder="&#xf13e;"></span>
        </div>

        <div class="container-login-form-btn">
          <button class="login-form-btn" type="submit">
            Login
          </button>
        </div>

        <div class="text-center">
          <a class="txt pointer" (click)="resetPassword()">
            Esqueceu a senha?
            <!--{{ userForm.get('email').value }}-->
          </a>
        </div>

        <div class="text-center" *ngIf="loading">
          <img src="../../../assets/img/eclipse-loading.svg" alt="Login loading">
        </div>

        <div class="danger" *ngIf="formErrors.email">
          {{ formErrors.email }}
        </div>

        <div class="danger" *ngIf="formErrors.password">
          {{ formErrors.password }}
        </div>

      </form>
    </div>
  </div>
</div>

<ng-template #alreadyLoggedIn>
  <p class="text-success">
    Você já está logado!

    <a [routerLink]="['/dashboard']">
      Ir para o dashboard
    </a> ->
  </p>
</ng-template>