.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 200;
  border: 2px dashed var(--akademic-color2);
  border-radius: 5px;
  background: white;
  margin: 10px 0;
}

.dropzone:hover {
  border: 2px solid var(--akademic-color2);
}

.file-cta {
  background-color: #f5f5f5;
  color: #4a4a4a;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
}

.file {
  align-items: stretch;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.file-cta,
.file-name {
  border-color: #dbdbdb;
  border-radius: 4px;
  font-size: 1em;
  padding-left: 1em;
  padding-right: 1em;
  white-space: nowrap;
}

.file-input {
  height: 0.01em;
  left: 0;
  outline: 0;
  position: absolute;
  top: 0;
  width: 0.01em;
}

.progress-custom {
  height: 10px;
  width: 100%;
  margin: 10px 0px 5px 0px;
}

progress::-webkit-progress-bar {
  background: #d5b3e5;
}

progress::-webkit-progress-value {
  background: var(--akademic-color2);
}
