<div class="sidebar" data-color="purple" data-image="">
    <div class="sidebar-background"></div>
    <div class="sidebar-wrapper">
        <div class="logo">
            <a [routerLink]="['/dashboard']">
                <img src="../../../assets/img/akademic-name-white.png" width="180px">
            </a>
        </div>
        <ul class="nav responsive-nav">
            <li *ngIf="isMobileMenu()">
                <a (click)="logOut()">
                    <p>Sair</p>
                </a>
            </li>
            <li class="separator hidden-lg hidden-md" *ngIf="isMobileMenu()"></li>
            <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
                <a [routerLink]="[menuItem.path]" (click)="sidebarClose()">
                    <i class="{{menuItem.icon}}"></i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>