<div class="clearfix" style="padding-bottom: 10px;">
  <button class="btn btn-action pull-right" (click)="addPost()">Faça uma postagem</button>
</div>

<div class="card" *ngFor="let post of posts">
  <div class="content">
    <div class="question">
      <div class="post-layout">
        <div class="votecell post-layout--left">
          <div class="vote">
            <a class="vote-up-off pointer"></a>
            <span class="vote-count-post">{{post.votes}}</span>
            <a class="vote-down-off pointer"></a>
          </div>
        </div>
        <div class="postcell post-layout--right">
          <h4 class="title">
            {{post.title}}
          </h4>
          <div class="post-text">
            <p>
              {{post.description}}
            </p>
          </div>

          <div class="post-taglist flex fd-column">
            <div class="flex show">
              <a href="#" class="post-tag">{{post.address.city}}</a>
              <a href="#" class="post-tag">{{post.address.country}}</a>
            </div>
          </div>

          <div class="flex fw-wrap right">
            <div class="post-signature owner grid--cell">
              <div class="user-info">
                <div class="user-action-time">
                  há <span>4 horas atras</span>
                </div>
                <div class="user-avatar">
                  <a href="#">
                    <div class="avatar-wrapper"><img src="https://i.stack.imgur.com/wuEXo.png?s=32&amp;g=1" alt=""
                        width="32" height="32"></div>
                  </a>
                </div>
                <div class="user-details">
                  <a href="#">{{post.owner.displayName}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="post-layout--right">
          <div class="comments">
            <ul class="comments-list" *ngFor="let comment of post.comments">
              <li class="comment">
                <div class="comment-text">
                  <div class="comment-body show">
                    <span class="comment-copy">{{comment.description}}</span>
                    &nbsp;
                    <a href="#" class="comment-user">
                      {{comment.user.displayName}}
                    </a>
                    <span class="comment-date">
                      <a class="comment-link" href="#">
                        <span>3 horas atras</span>
                      </a>
                    </span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div>
            <a class="comments-link" href="#">comentar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>