<div class="row">
    <div class="col-md-12">
        <div class="card border-top">
            <div class="header">
                <div class="title">
                    <i class="fa fa-check-circle-o"></i>Validação de Atividade
                </div>
                <hr>
            </div>
            <!-- <pre>{{ activity | json }}</pre> -->
            <div class="content">
                <form>
                    <div class="uppercase" style="color: #9A9A9A;text-align: center;font-size: 16px;">
                        {{activity.activityType.description}}
                    </div>
                    <div style="font-size: 50px;text-align: center;">
                        {{activity.hoursDuration}}
                        <span style="font-size: 25px;text-align: center;">horas</span>
                    </div>
                    <div class="uppercase" style="color: #9A9A9A;text-align: center;">
                        {{activity.local}}
                    </div>
                    <hr>
                    <span class="icon-report">
                        <i class="fa fa-clock-o"></i>{{ activity.initialDate | date: 'dd/MM/yyyy'}} - {{
                        activity.finalDate
                        | date: 'dd/MM/yyyy' }}
                    </span>
                    <hr>
                    <span class="icon-report">
                        <i class="fa fa-calendar"></i>Semestre: {{ activity.semester }} | </span>
                    <span>
                        Ano: {{ activity.schoolYear }}
                    </span>
                    <hr>
                    <span class="icon-report">
                        <i class="fa fa-home"></i>{{ activity.city.nome }} / {{ activity.state.sigla }}
                    </span>
                    <hr>
                    <div>Descrição: {{ activity.description }}</div>
                    <hr>
                    <div>Observação: {{ activity.observation }}</div>
                    <hr>
                    <div>Anexos:</div>
                    <div class="show-attach">
                        <h5 *ngIf="!activity.attachments" style="display: inline-grid;">Nenhum anexo
                            encontrado.</h5>
                        <img *ngIf="loading" class="loader-attachs" src="assets/img/loader-attachs.gif">
                        <div *ngFor="let attach of attachments; index as i" class=" card card-attach" (click)="showAttach(attach)"
                            data-toggle="modal" data-target="#myModal">
                            <div *ngIf="attach.type !== 'application/pdf'; else pdf">
                                <img class="img-attach" [src]="attach.url" />
                            </div>
                            <ng-template #pdf>
                                <img class="pdf-attach" src="assets/img/pdf.png" />
                            </ng-template>
                            <div>
                                <label class="label-attach">{{ attach.name }}</label>
                                <!-- access file size to make inner join storage -->
                                <!-- <label>({{ attachImg[i].file.size | fileSize }})</label> -->
                                <div>
                                    <!-- <a (click)="showAttach(attach)" [download]="attach.name" target="_blank" type="button"
                                        class="btn-attach" rel="tooltip" title="Download"><i class="fa fa-download"></i></a> -->
                                    <a (click)="showAttach(attach)" data-toggle="modal" data-target="#myModal" type="button"
                                        class="btn-attach" pTooltip="Abrir Anexo" tooltipPosition="bottom"><i class="fa fa-download"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="author">
                        <div>Solicitante</div>
                        <div style="padding:20px 0px">
                            <img [src]="activity.user.photoURL ? activity.user.photoURL : 'assets/img/default-avatar.png'"
                                alt="Foto do Usuário" width="80" height="80" style="border-radius: 50%; margin-right: 10px" />
                            <h5 style="display: inline-grid;">
                                {{activity.user.displayName}}
                                <br />
                                <small style="text-transform: lowercase">
                                    {{activity.user.email}}
                                </small>
                            </h5>
                        </div>
                    </div>
                    <div class="clearfix">
                        <button type="button" class="btn btn-action pull-right" (click)="toConfirm(true)">Aprovar</button>
                        <button type="button" class="btn btn-secondary pull-right mr-2" (click)="toConfirm(false)">Reprovar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<aka-confirmation key="confirmation" (onAccept)="onAccept()"></aka-confirmation>

<div class="modal fade" id="myModal" role="dialog">
    <h5 style="text-align: center;
    color: #ffff;
    margin-top: 20px;">{{ attachView?.name }}</h5>
    <a class="btn-download-modal" pTooltip="Efetuar Download" tooltipPosition="bottom">
        <i class="icon-close-modal fa fa-cloud-download"></i></a>
    <a class="btn-close-modal" data-dismiss="modal" pTooltip="Fechar Anexo" tooltipPosition="bottom">
        <i class="icon-close-modal fa fa-close" style="    -webkit-text-stroke: 3px #808080;"></i></a>
    <img *ngIf="attachView?.type !== 'application/pdf'" class="img-dialog" [src]="attachView?.url" />
    <iframe *ngIf="attachView?.type === 'application/pdf'" class="pdf-dialog" [src]="attachView?.url | safe: 'resourceUrl'"></iframe>
</div>