<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <i class="fa fa-university"></i>
        <div class="title">
          {{ title }}
        </div>
        <hr>
      </div>
      <div class="content">
        <form [formGroup]="institutionForm" (ngSubmit)="save()">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" formControlName="name" #inputFocus>
              </div>
              <aka-message-control-error [control]="institutionForm.get('name')" error="required" msg="Nome é obrigatório."></aka-message-control-error>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 label-block">
              <label></label>
              <button [disabled]="institutionForm.invalid" type="submit" class="btn btn-action left">{{ button }}</button>
            </div>
          </div>
        </form>
      </div>
      <div class="content">
        <div class="table-full-width">
          <table class="table">
            <tbody>
              <tr *ngFor="let institution of institutions$ | async">
                <td>{{institution.name}}</td>
                <td class="td-actions text-right">
                  <a class="btn" (click)="edit(institution)">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a (click)="remove(institution.uid)" class="btn text-danger">
                    <i class="fa fa-times"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="footer">
          <hr> {{ (institutions$ | async)?.length }} registros
        </div>
      </div>
    </div>
  </div>
</div>