<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <div class="title">
          <i class="fa fa-university"></i> {{ title }}
        </div>
        <hr>
      </div>
      <div class="content">
        <form [formGroup]="institutionForm" (ngSubmit)="save()">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" formControlName="name" #inputFocus>
              </div>
              <aka-message-control-error [control]="institutionForm.get('name')" error="required" msg="Nome é obrigatório."></aka-message-control-error>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 label-block">
              <label></label>
              <button [disabled]="institutionForm.invalid" type="submit" class="btn btn-action left">{{ button }}</button>
            </div>
          </div>
        </form>
      </div>
      <div class="content">
        <p-table [value]="institutions$ | async" selectionMode="single" #dt [globalFilterFields]="['name']" [paginator]="true"
          [rows]="5" [responsive]="true" [rowsPerPageOptions]="[5,10,20,50]" [resizableColumns]="true"
          [reorderableColumns]="true">
          <ng-template pTemplate="caption">
            <div class="input-filter">
              <i class="fa fa-search"></i>
              <input type="text" class="form-control" placeholder="Pesquisar.." (input)="dt.filterGlobal($event.target.value, 'contains')">
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th [pSortableColumn]="'name'" pResizableColumn pReorderableColumn style="width: 75%">Nome
                <p-sortIcon></p-sortIcon>
              </th>
              <th style="width: 15%">Ações</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-institution>
            <tr [pSelectableRow]="institution">
              <td>
                <span class="ui-column-title">Nome:</span>
                {{institution.instituicao}}
              </td>
              <!-- <td class="td-actions">
                <a class="btn" (click)="edit(institution)">
                  <i class="fa fa-edit"></i>
                </a>
                <a (click)="remove(institution.uid)" class="btn text-danger">
                  <i class="fa fa-times"></i>
                </a>
              </td> -->
              <td class="td-actions">
                <span class="ui-column-title">Ações:</span>
                <a type="button" class="btn">
                  <i class="fa fa-edit" (click)="edit(institution)"></i>
                </a>
                <a type="button" (click)="remove(institution.uid)" class="btn text-danger">
                  <i class="fa fa-times"></i>
                </a>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            {{ (institutions$ | async)?.length }} registros
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td colspan="5">
                Nenhum registro encontrado.
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>