<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Inserir Atividade</h4>
            </div>
            <div class="content">
                <form [formGroup]="activityForm" (ngSubmit)="onSubmit()">
                    <!--pre>Values: {{activityForm.value | json}}</pre-->
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="schoolYear">Período Letivo</label>
                                <select class="form-control" formControlName="schoolYear">
                                    <option [ngValue]="2018">2018</option>
                                    <option [ngValue]="2017">2017</option>
                                    <option [ngValue]="2016">2016</option>
                                    <option [ngValue]="2015">2015</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="semester">Semestre</label>
                                <select class="form-control" formControlName="semester">
                                    <option [ngValue]="1">1</option>
                                    <option [ngValue]="2">2</option>
                                    <option [ngValue]="3">3</option>
                                    <option [ngValue]="4">4</option>
                                    <option [ngValue]="5">5</option>
                                    <option [ngValue]="6">6</option>
                                    <option [ngValue]="7">7</option>
                                    <option [ngValue]="8">8</option>
                                    <option [ngValue]="9">9</option>
                                    <option [ngValue]="10">10</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="initialDate">Data Inicial</label>
                                <input type="date" class="form-control" formControlName="initialDate">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="finalDate">Data Final</label>
                                <input type="date" class="form-control" formControlName="finalDate">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="activityType">Tipo de Atividade</label>
                                <select class="form-control" formControlName="activityType">
                                    <option *ngFor="let type of $activityTypes | async" [ngValue]="type">{{type.description}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <label for="description">Descrição</label>
                                <input type="text" class="form-control" formControlName="description">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="hoursDuration">Carga Horária</label>
                                <input type="number" class="form-control" formControlName="hoursDuration">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label for="local">Local</label>
                                <input type="text" class="form-control" formControlName="local">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="state">Estado</label>
                                <select class="form-control" formControlName="state" (change)="getCities()">
                                    <option *ngFor="let state of $states | async" [ngValue]="state">{{state.nome}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="city">Cidade</label>
                                <select class="form-control" formControlName="city">
                                    <option *ngFor="let city of $cities | async" [ngValue]="city.nome">{{city.nome}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <aka-upload-page></aka-upload-page>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="observation">Observação</label>
                                <textarea rows="4" class="form-control" formControlName="observation" placeholder="Aqui você pode colocar sua observação"></textarea>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info btn-fill pull-right">Inserir atividade</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>