<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Inserir Atividade</h4>
            </div>
            <div class="content">
                <form>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Id</label>
                                <input type="text" class="form-control" disabled placeholder="Company" value="1">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Carga Horária</label>
                                <input type="text" class="form-control" placeholder="Carga Horária">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">E-mail para envio</label>
                                <input type="email" class="form-control" email placeholder="Email">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Data Início</label>
                                <input type="text" class="form-control" placeholder="__/__/____" value="__/__/____">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Data Fim</label>
                                <input type="text" class="form-control" placeholder="__/__/____" value="__/__/____">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Descrição da Atividade</label>
                                <textarea rows="5" class="form-control" placeholder="Aqui você pode colocar sua descrição"></textarea>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info btn-fill pull-right">Inserir Atividade</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>