input[type="date"] {
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
}

input[type="date"]:before {
    position: absolute;
    font-family: 'FontAwesome';
    content: '\f073';
    right: 15px;
    color: #555;
}