<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <div class="title">
          <i class="fa fa-users"></i>Controlador
        </div>
        <hr>
      </div>
      <div class="content">
        <aka-sign-up [hasAccountLink]="false"></aka-sign-up>
      </div>
      <div class="content">
        <div class="table-full-width">
          <table class="table">
            <tbody>
              <tr *ngFor="let controller of controllers$ | async">
                <td>{{ controller.name }} | {{ controller.course.name }}</td>
                <td class="td-actions text-right">
                  <a class="btn" (click)="edit(controller)">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a (click)="confirmRemove(controller)" class="btn text-danger">
                    <i class="fa fa-times"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="footer">
          <hr> {{ (controllers$ | async)?.length }} registros
        </div>
      </div>
    </div>
  </div>
</div>

<p-toast position="top-right"></p-toast>

<aka-confirmation key="removeKey" (onAccept)="remove()"></aka-confirmation>