<div class="row">
    <div *ngIf="_rolesService.isStudent(user)" class="col-xs-12 col-md-6">
        <aka-chart-card [title]="'Atividades'" [subtitle]="'Atividades por categoria'" chartType="pie" [chartData]="activityCategoryChartData">
        </aka-chart-card>
    </div>

    <div *ngIf="_rolesService.isStudent(user)" class="col-xs-12 col-md-6">
        <aka-chart-card [title]="'Atividades'" [subtitle]="'Atividades por status'" chartType="pie" [chartData]="activityStatusChartData">
        </aka-chart-card>
    </div>

    <div *ngIf="_rolesService.isController(user)" class="col-xs-12 col-md-6">
        <aka-chart-card [title]="'Atividades último semestre'" [subtitle]="'Número de atividades dos últimos 6 meses'"
            chartType="line" [chartData]="lastSemesterChartData">
        </aka-chart-card>
    </div>

    <div *ngIf="_rolesService.isController(user)" class="col-xs-12 col-md-6">
        <aka-chart-card [title]="'Ranking'" [subtitle]="'Atividades dos alunos do curso'" chartType="bar" [chartData]="rankStudentsChartData">
        </aka-chart-card>
    </div>

    <div *ngIf="_rolesService.isController(user)" class="col-xs-12">
        <div *ngIf="activitiesToAnalyze$  | async as actsToAnalyze">
            <div class="card">
                <div class="header text-center">
                    <h4 class="title">Tarefas</h4>
                    <p class="category">Atividades a serem analisadas</p>
                    <hr>
                </div>
                <div class="content">
                    <p-table [value]="actsToAnalyze" selectionMode="single" #dt [globalFilterFields]="['description','hoursDuration','activityType.description', 'user.displayName','createdAt']"
                        [paginator]="true" [rows]="5" [responsive]="true" [rowsPerPageOptions]="[5,10,20,50]"
                        [resizableColumns]="true" [reorderableColumns]="true">
                        <ng-template pTemplate="caption">
                            <div class="input-filter">
                                <i class="fa fa-search"></i>
                                <input type="text" class="form-control" placeholder="Pesquisar" (input)="dt.filterGlobal($event.target.value, 'contains')">
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th [pSortableColumn]="'user.displayName'" pResizableColumn pReorderableColumn>
                                    Solicitante
                                    <p-sortIcon></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'description'" pResizableColumn pReorderableColumn>
                                    Atividade
                                    <p-sortIcon></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'activityType.description'" pResizableColumn pReorderableColumn>
                                    Tipo
                                    <p-sortIcon></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'activity.createdAt'" pResizableColumn pReorderableColumn>
                                    Cadastro
                                    <p-sortIcon></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'hoursDuration'" pResizableColumn pReorderableColumn>
                                    Duração
                                    <p-sortIcon></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-activity>
                            <tr (click)="toAnalyze(activity)">
                                <td>
                                    <span class="ui-column-title">Solicitante:</span>
                                    {{ activity.user?.displayName }}
                                </td>
                                <td>
                                    <span class="ui-column-title">Atividade:</span>
                                    {{ activity.description }}
                                </td>
                                <td>
                                    <span class="ui-column-title">Tipo:</span>
                                    {{ activity.activityType.description }}
                                </td>
                                <td>
                                    <span class="ui-column-title">Cadastro:</span>
                                    {{ activity.createdAt.toDate() | date: 'dd/MM/yyyy' }}
                                </td>
                                <td>
                                    <span class="ui-column-title">Duração:</span>
                                    {{ activity.hoursDuration }} horas
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            {{ actsToAnalyze.length }} registros
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td colspan="5">
                                    Nenhum registro encontrado.
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="_rolesService.isStudent(user)" class="col-xs-12">
        <div *ngIf="activitiesStudent">
            <div class="card">
                <div class="header text-center">
                    <h4 class="title">Minhas atividades</h4>
                    <p class="category">Atividades já realizadas</p>
                    <hr>
                </div>
                <div class="content">
                    <p-table [value]="activitiesStudent" selectionMode="single" #dt [globalFilterFields]="['description','hoursDuration','activityType.description', 'status']"
                        [paginator]="true" [rows]="5" [responsive]="true" [rowsPerPageOptions]="[5,10,20,50]"
                        [resizableColumns]="true" [reorderableColumns]="true">
                        <ng-template pTemplate="caption">
                            <div class="input-filter">
                                <i class="fa fa-search"></i>
                                <input type="text" class="form-control" placeholder="Pesquisar" (input)="dt.filterGlobal($event.target.value, 'contains')">
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th [pSortableColumn]="'description'" pResizableColumn pReorderableColumn>
                                    Atividade
                                    <p-sortIcon></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'hoursDuration'" pResizableColumn pReorderableColumn>
                                    Duração
                                    <p-sortIcon></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'activityType.description'" pResizableColumn pReorderableColumn>
                                    Tipo
                                    <p-sortIcon></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'status'" pResizableColumn pReorderableColumn>Status
                                    <p-sortIcon></p-sortIcon>
                                </th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-activity>
                            <tr>
                                <td>
                                    <span class="ui-column-title">Atividade:</span>
                                    {{activity.description}}
                                </td>
                                <td>
                                    <span class="ui-column-title">Duração:</span>
                                    {{activity.hoursDuration}}
                                </td>
                                <td>
                                    <span class="ui-column-title">Tipo:</span>
                                    {{activity.activityType.description}}
                                </td>
                                <td>
                                    <span class="ui-column-title">Status:</span>
                                    {{activity.status}}
                                </td>
                                <td class="td-actions">
                                    <span class="ui-column-title">Ações:</span>
                                    <a type="button" class="btn">
                                        <i class="fa fa-edit" [routerLink]="['/input-activity/' + activity.uid]"></i>
                                    </a>
                                    <a type="button" class="btn text-danger">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            {{ activitiesStudent.length }} registros
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td colspan="5">
                                    Nenhum registro encontrado.
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>