.login-footer {
  padding: 10px;
}

.form-control, .form-control:focus {
  float: none;
  font-size: 15px;
  border-width: 0px 0px 1px 0px;
  width: 90%;
  outline: 0;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  box-shadow: none !important;
  border-radius: 0;
}

.input-group .input-group-addon {
  border: 0;
}

.danger {
  color: #ff0026;
  display: block;
}

.hr-section {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: #585858;
  margin: 30px 0px;
}

.hr-section::before,
.hr-section::after {
  content: "";
  flex-grow: 1;
  background: #9A9A9A;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}