.post-text,
.comments {
    width: 100%;
}

.comments {
    margin-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #e4e6e8;
}

.comments-link {
    padding: 0 3px 2px 3px;
}

a.comments-link:hover {
    text-decoration: none;
}

.comment-date {
    color: #848d95;
}

ul.comments-list {
    margin: 0;
    padding: 0;
}

ul.comments-list .comment {
    display: flex;
}

ul.comments-list .comment>* {
    border-bottom: 1px solid #eff0f1;
}

ul.comments-list .comment-text {
    padding: 6px 6px;
}

.comment-date,
.comment-date>a,
.comment-date>a:hover {
    color: #9199a1;
}

.comment-text {
    font-size: 13px;
}